/*ESTILOS GENERALES*/
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

a {
    text-decoration: none; 
    color: white;
}

ul li {
    display: inline-block;  
    padding: 10px;
} 

main{
    color: white;
} 
body{
    background-image: url(../images/grieta.jpg);
    background-size: cover;
}
header{
    background-color: rgb(201, 6, 6);
    color: black;
}
footer{
    background-color: rgb(201, 6, 6);
    color: black;
}
/*Primera pagina modificada*/
/*GRIDS*/
@media screen and (min-width:978px) {
    
.gridIndex{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 40% 30% 20%;
    grid-template-rows: 15% 40% 40% 5%;

    grid-template-areas: 
    "header header header header"
    ". main img ."
    ". main img ."
    "footer footer footer footer";
}
}
header{
    grid-area: header;
}

nav{
    grid-area: header;
    text-align: center;
}


.parrafo{
    grid-area: main;
    color: white;
}

.imgFaker{
    grid-area: img;
    padding: 10px;
}

footer{
    grid-area: footer;
}

@media(min-width:551px)and (max-width:977px){
.imgFaker{
    width: 60%;
}
}

/*Segunda Pagina*/
@media screen and (min-width:815px) {.gridCG{

    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 10% 10% 25% 25% 30% 5%;

    grid-template-areas: 
    "header header header header"
    "h2 h2 h2 h2"
    ". p1 img1 . "
    ". img2 p2 . "
    ". p3 img3 . "
    "footer footer footer footer";
}

header{
    grid-area: header;
}

nav{
    grid-area: header;
}

h2{
    grid-area: h2;
    color: white;
}
.parrafo-1{
    grid-area: p1;
    padding: 10px;
    color: white;
}

.parrafo-2{
    grid-area: p2;
    padding: 10px;
    color: white;
}

.parrafo-3{
    grid-area: p3;
    padding: 10px;
    color: white;
}
.imagen-1{
    grid-area: img1;
    
}

.imagen-2{
    grid-area: img2;
    
}

.imagen-3{
    grid-area: img3;
    
}

footer{
    grid-area: footer;
}
}
@media(max-width:814px){
    .gridCG{
        color: white;
    }
}
/*Transformaciones*/
nav ul li:hover{
    transform: scale(1,3); 
}