* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kdam Thmor Pro", sans-serif;
}
* .icon {
  width: 30px;
  height: 30px;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}
nav ul li a {
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 10%;
}
nav ul li a:hover {
  color: white;
  background-color: black;
  border-radius: 10%;
}

body {
  background-image: url(../images/fondo3.jpg);
  background-attachment: fixed;
}
body header {
  background-color: black;
  color: rgb(252, 0, 0);
}
body header main {
  color: white;
}

footer {
  background-color: black;
  color: rgb(252, 0, 0);
}
footer a {
  color: white;
}
footer a:hover {
  color: rgb(252, 0, 0);
}

@keyframes aparicion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 980px) {
  .grid-index {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 40% 30% 20%;
    grid-template-rows: 15% 40% 40% 5%;
    grid-template-areas: "header header header header" ". parrafo img ." ". parrafo img ." "footer footer footer footer";
  }
}
header {
  grid-area: header;
}

nav {
  grid-area: header;
  text-align: center;
}

.parrafo {
  grid-area: parrafo;
  color: white;
  background-color: rgba(0, 0, 0, 0.397);
  height: 370px;
}

.img-faker {
  grid-area: img;
  padding: 10px;
  height: 50vh;
  width: 60vh;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 551px) and (max-width: 979px) {
  .img-faker {
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
  }
  main.parrafo {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 550px) and (min-width: 497px) {
  .img-faker {
    width: 80%;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  main.parrafo {
    font-size: 1rem;
  }
}
@media (max-width: 496px) and (min-width: 349px) {
  main.parrafo {
    font-size: 0.8rem;
  }
  .img-faker {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 348px) {
  .parrafo {
    font-size: 0.7rem;
  }
  .img-faker {
    margin-bottom: 10px;
    width: 100%;
  }
}
@media screen and (min-width: 815px) {
  .grid-cg {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 10% 10% 35% 35% 45% 5%;
    grid-template-areas: "header header header header" "h2 h2 h2 h2" " . p1 img1 . " " . img2 p2 . " " . p3 img3 . " "footer footer footer footer";
  }
  header {
    grid-area: header;
  }
  nav {
    grid-area: header;
  }
  h2 {
    grid-area: h2;
    color: white;
    display: flex;
    align-items: center;
  }
  .parrafo-1 {
    grid-area: p1;
    display: flex;
    align-items: center;
    color: white;
  }
  .imagen-1 {
    grid-area: img1;
    height: 40vh;
    width: 60vh;
    object-fit: contain;
    animation-name: aparicion;
    animation-duration: 2s;
  }
  .parrafo-2 {
    grid-area: p2;
    display: flex;
    align-items: center;
    color: white;
  }
  .imagen-2 {
    grid-area: img2;
    height: 50vh;
    width: 48vh;
    object-fit: contain;
    animation-name: aparicion;
    animation-duration: 2s;
  }
  .parrafo-3 {
    grid-area: p3;
    display: flex;
    align-items: center;
    color: white;
  }
  .imagen-3 {
    grid-area: img3;
    height: 50vh;
    width: 60vh;
    object-fit: contain;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  footer {
    grid-area: footer;
  }
}
@media (max-width: 814px) {
  .grid-cg {
    color: white;
  }
  .imagen-1 {
    width: 60vh;
    animation-name: aparicion;
    animation-duration: 2s;
  }
  .imagen-2 {
    width: 60vh;
    animation-name: aparicion;
    animation-duration: 2s;
  }
  .imagen-3 {
    width: 60vh;
    animation-name: aparicion;
    animation-duration: 2s;
  }
}
@media screen and (min-width: 841px) {
  .grids-mj {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 5% 75% 5%;
    grid-template-areas: "header header" "h2 h2" "play play" "footer footer";
  }
  header {
    grid-area: header;
  }
  h2 {
    grid-area: h2;
  }
  .play1 {
    grid-area: play;
    width: 80vh;
    height: 60vh;
  }
  footer {
    grid-area: footer;
  }
}
@media (max-width: 840px) and (min-width: 646px) {
  .grids-mj {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 70% 6%;
    grid-template-areas: "header header" "play play" "footer footer";
  }
  h2 {
    color: white;
  }
  header {
    grid-area: header;
  }
  .play1 {
    grid-area: play;
  }
  footer {
    grid-area: footer;
  }
}
@media (max-width: 645px) {
  .grids-mj {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 70% 7%;
    grid-template-areas: "header" "play" "footer";
  }
  .grids-mj h2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grids-mj header {
    grid-area: header;
  }
  .grids-mj .play1 {
    grid-area: play;
    height: 100%;
  }
  .grids-mj footer {
    grid-area: footer;
  }
}
@media screen and (min-width: 871px) {
  .grids-champs {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 15vh 10vh 65vh 60vh 60vh 60vh 60vh 5vh;
    grid-template-areas: "header header header" "h2 h2 h2" ". img1 ." ". img2 ." ". img3 ." ". img4 ." ". img5 ." "footer footer footer";
  }
  header {
    grid-area: header;
  }
  h2 {
    grid-area: h2;
  }
  .img-1 {
    grid-area: img1;
    width: 80vh;
    height: 50vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-2 {
    grid-area: img2;
    width: 80vh;
    height: 50vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-3 {
    grid-area: img3;
    width: 80vh;
    height: 50vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-4 {
    grid-area: img4;
    width: 80vh;
    height: 50vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-5 {
    grid-area: img5;
    width: 80vh;
    height: 50vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  footer {
    grid-area: footer;
  }
}
@media screen and (max-width: 870px) and (min-width: 561px) {
  .grids-champs {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 27vh 10vh 60vh 60vh 60vh 60vh 60vh 5vh;
    grid-template-areas: "header header header" "h2 h2 h2" ". img1 ." ". img2 ." ". img3 ." ". img4 ." ". img5 ." "footer footer footer";
  }
  header {
    grid-area: header;
  }
  h2 {
    grid-area: h2;
    font-size: 1rem;
    color: white;
  }
  .img-1 {
    grid-area: img1;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-2 {
    grid-area: img2;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-3 {
    grid-area: img3;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-4 {
    grid-area: img4;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-5 {
    grid-area: img5;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  footer {
    grid-area: footer;
  }
}
@media screen and (max-width: 560px) and (min-width: 401px) {
  .grids-champs {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35vh 10vh 60vh 60vh 60vh 60vh 60vh 5vh;
    grid-template-areas: "header header " "h2 h2 " "img1 img1 " "img2 img2 " "img3 img3 " "img4 img4 " "img5 img5 " "footer footer ";
  }
  header {
    grid-area: header;
  }
  h2 {
    grid-area: h2;
    font-size: 1rem;
    color: white;
  }
  .img-1 {
    grid-area: img1;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-2 {
    grid-area: img2;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-3 {
    grid-area: img3;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-4 {
    grid-area: img4;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-5 {
    grid-area: img5;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  footer {
    grid-area: footer;
  }
}
@media screen and (max-width: 400px) {
  .grids-champs {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60vh 10vh 60vh 60vh 60vh 60vh 60vh 5vh;
    grid-template-areas: "header header " "h2 h2 " "img1 img1 " "img2 img2 " "img3 img3 " "img4 img4 " "img5 img5 " "footer footer ";
  }
  header {
    grid-area: header;
  }
  h2 {
    grid-area: h2;
    font-size: 1rem;
    color: white;
  }
  .img-1 {
    grid-area: img1;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-2 {
    grid-area: img2;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-3 {
    grid-area: img3;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-4 {
    grid-area: img4;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  .img-5 {
    grid-area: img5;
    width: 50vh;
    height: 30vh;
    object-fit: cover;
    color: white;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
  }
  footer {
    grid-area: footer;
  }
}
@media screen and (min-width: 761px) {
  .grid-cont {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 10% 70% 5%;
    grid-template-areas: "header header " "h2 h2" "texto formulario" "footer footer ";
  }
  header {
    grid-area: header;
  }
  h2 {
    grid-area: h2;
  }
  .texto {
    grid-area: texto;
    color: white;
    font-size: 1.5rem;
  }
  form {
    grid-area: formulario;
  }
  footer {
    grid-area: footer;
  }
  label {
    color: white;
  }
}
@media screen and (max-width: 760px) and (min-width: 621px) {
  .grid-cont {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 10% 20% 85% 5%;
    grid-template-areas: "header " "h2" "texto" "formulario" "footer";
  }
  header {
    grid-area: header;
  }
  h2 {
    grid-area: h2;
  }
  .texto {
    grid-area: texto;
    color: white;
    font-size: 1rem;
  }
  form {
    grid-area: formulario;
  }
  footer {
    grid-area: footer;
  }
  label {
    color: white;
  }
}
@media screen and (max-width: 620px) and (min-width: 471px) {
  .grid-cont {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 10% 20% 100% 5%;
    grid-template-areas: "header " "h2" "texto" "formulario" "footer";
  }
  header {
    grid-area: header;
  }
  h2 {
    grid-area: h2;
  }
  .texto {
    grid-area: texto;
    color: white;
    font-size: 1rem;
  }
  form {
    grid-area: formulario;
  }
  footer {
    grid-area: footer;
  }
  label {
    color: white;
  }
}
@media screen and (max-width: 470px) and (min-width: 396px) {
  .grid-cont {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 10% 20% 100% 5%;
    grid-template-areas: "header " "h2" "texto" "formulario" "footer";
  }
  header {
    grid-area: header;
  }
  h2 {
    grid-area: h2;
  }
  .texto {
    grid-area: texto;
    color: white;
    font-size: 1rem;
  }
  form {
    grid-area: formulario;
  }
  footer {
    grid-area: footer;
  }
  label {
    color: white;
  }
}
@media screen and (max-width: 395px) {
  .grid-cont {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 10% 30% 120% 5%;
    grid-template-areas: "header " "h2" "texto" "formulario" "footer";
  }
  header {
    grid-area: header;
  }
  h2 {
    grid-area: h2;
  }
  .texto {
    grid-area: texto;
    color: white;
    font-size: 1rem;
  }
  form {
    grid-area: formulario;
  }
  footer {
    grid-area: footer;
  }
  label {
    color: white;
  }
}

/*# sourceMappingURL=styles.css.map */
