@media screen and (min-width:815px) {.gridCG{
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 10% 10% 25% 25% 30% 5%;

    grid-template-areas: 
    "header header header header"
    "h2 h2 h2 h2"
    " . p1 img1 . "
    " . img2 p2 . "
    " . p3 img3 . "
    "footer footer footer footer";
}

header{
    grid-area: header;
}

nav{
    grid-area: header;
}

h2{
    grid-area: h2;
    color: white;
}
.parrafo-1{
    grid-area: p1;
    padding: 10px;
    margin: 15px;
    color: white;
}
.imagen-1{
    grid-area: img1;
    height: 250px;
    width: 500px;
    object-fit: contain;
    
}
.parrafo-2{
    grid-area: p2;
    padding: 10px;
    margin: 15px;
    color: $color-letra-neutro;
}
.imagen-2{
    grid-area: img2;
    height: 250px;
    width: 500px;
    object-fit: contain;
    
}
.parrafo-3{
    grid-area: p3;
    padding: 10px;
    margin: 15px;
    color: $color-letra-neutro;
}


.imagen-3{
    grid-area: img3;
    height: 250px;
    width: 500px;
    object-fit: contain;
}

footer{
    grid-area: footer;
}
}
@media(max-width:814px){
    .gridCG{
        color: $color-letra-neutro;
    }
}