@media screen and (min-width:815px) {.grid-cg{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 20% 15% 40% 40% 45% 5%;

    grid-template-areas: 
    "header header header header"
    "h2 h2 h2 h2"
    " . p1 img1 . "
    " . img2 p2 . "
    " . p3 img3 . "
    "footer footer footer footer";
}

header{
    grid-area: header;
}

nav{
    grid-area: header;
}

h2{
    grid-area: h2;
    color: $color-letra-neutro;
    display: flex;
    align-items: center;
   
}
.parrafo-1{
    grid-area: p1;
    
    display: flex;
    align-items: center;
    
    color: $color-letra-neutro;
}
.imagen-1{
    grid-area: img1;
    height: 40vh;
    width: 60vh;
    object-fit: contain;
    animation-name: aparicion;
    animation-duration: 2s;
    
}
.parrafo-2{
    grid-area: p2;
    
    display: flex;
    align-items: center;
   
    color: $color-letra-neutro;
}
.imagen-2{
    grid-area: img2;
    height: 50vh;
    width: 48vh;
    object-fit: contain;
    animation-name: aparicion;
    animation-duration: 2s;
    
}
.parrafo-3{
    grid-area: p3;
    
    display: flex;
    align-items: center;
    
    color: $color-letra-neutro;
}


.imagen-3{
    grid-area: img3;
    height: 50vh;
    width: 60vh;
    object-fit: contain;
    animation-name: aparicion;
    animation-duration: 2s;
    border-radius: 5px;
}

footer{
    grid-area: footer;
}
}
@media(max-width:814px){
    .grid-cg{
        color: $color-letra-neutro;
    }
    .imagen-1{
        width: 60vh;
        animation-name: aparicion;
        animation-duration: 2s;
    }
    .imagen-2{
        width: 60vh;
        animation-name: aparicion;
        animation-duration: 2s;
    }
    .imagen-3{
        width: 60vh;
        animation-name: aparicion;
        animation-duration: 2s;
    }
}