@media screen and (min-width:980px) {
    
    .gridIndex{
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 10% 40% 30% 20%;
        grid-template-rows: 15% 40% 40% 5%;
    
        grid-template-areas: 
        "header header header header"
        ". main img ."
        ". main img ."
        "footer footer footer footer";
    }
    }
    header{
        grid-area: header;
    }
    
    nav{
        grid-area: header;
        text-align: center;
    }
    
    
    .parrafo{
        grid-area: main;
        color: $color-letra-neutro;
        background-color: rgba(0, 0, 0, 0.397);
        height: 370px;
    }
    
    .imgFaker{
        grid-area: img;
        padding: 10px;
        height: 50vh;
        width: 60vh;
        object-fit: cover;
    }
    
    footer{
        grid-area: footer;
        display: flex;
        justify-content:space-around;
    }
    
    @media(min-width:551px)and (max-width:979px){
    .imgFaker{
        width: 60%;
        object-fit: cover;
        margin-bottom: 10px;
    }
    }

    @media(max-width:550px) and (min-width:497px){
        .imgFaker{
            width: 100%;
            object-fit: contain;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .parrafo{
            font-size: 1rem;
            
        }
    }

    @media(max-width:496px) and (min-width:349px){
        .parrafo{
            font-size: 0.8rem;
        }

        .imgFaker{
            margin-bottom: 10px;
        }
    }

@media(max-width:348px){
    .parrafo{
        font-size: 0.7rem;
    }

    .imgFaker{
        margin-bottom: 10px;
    }
}