*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    .icon{
        width: 30px;
        height: 30px;
    }
    
        a{
         text-decoration: none;
         color: $color-de-letra;
        } 
     
}

nav{
 ul{
    li{
        display: inline-block;
        padding: 10px;
        a{  color: $color-de-fondo;
            background-color: $color-letra-neutro;
            text-decoration: none;
            border-radius: 10%;
            
            &:hover{
                color: $color-letra-neutro;
                background-color: $color-de-fondo;
            border-radius: 10%;
            }

        }
    }
}
}

body{
    background-image: url(../images/fondo3.jpg);
    background-attachment: fixed;    
    header{
        background-color: $color-de-fondo ;
        color: $color-de-letra;
        main{
            color: $color-letra-neutro;
            
        }
    }
}

footer{
    background-color: $color-de-fondo;
    color: $color-de-letra;
    a{
        color:$color-letra-neutro;
        &:hover{
            color: $color-de-letra;
            }
    }

}

@keyframes aparicion {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}