*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

nav{
 ul{
    li{
        display: inline-block;
        padding: 10px;
        a{
            text-decoration: none;
            color: $color-letra-neutro; 
            &:hover{
                color: black;
                background-color: white;
            border-radius: 10%;
            }

        }
    }
}
}

body{
    background-image: url(../images/fondo3.jpg);
    background-attachment: fixed;    
    header{
        background-color: $color-de-fondo ;
        color: $color-de-letra;
        main{
            color: $color-letra-neutro;
            
        }
    }
}

footer{
    background-color: $color-de-fondo;
    color: $color-de-letra;

}
