$color-de-fondo: rgb(10, 10, 10);
$color-de-letra: rgb(252, 0, 0);
$color-letra-neutro: rgb(255, 255, 255);

$fondos:(
    color-principal: black,
    color-secundario:red,
);

@each $var, $color in $fondos {
    .font-#{$var}{
        background-color: $var;
    }
    
}

.color-de-background{
    color: red;
}

.color-de-background--letras{
    @extend .color-de-background;

    color: black;

}

@mixin  margins{
    margin: 0;
    padding: 0;
}

.contenido-de-la-web{
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    

    @include margins;
}

